.container-inspiration-cube div {
    margin-bottom: 10rem;
  }


  .container-inspiration-cube h1 {
    color:black; 
    font-size: 2.5em; 
    text-align: center;
    padding:3vw;
    
  }

  .container-inspiration-cube p {
    color:black; 
    font-size: 1.5em; 
    text-align: center;
    padding-bottom: 6vw;
    
}

.scene {
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
	animation: rotate 20s infinite linear;
  margin:0 auto;
}

.cube {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	opacity: 0.8;
	border: 2px solid rgba(255, 255, 255, 0.5);
}

.front  { transform: rotateY(  0deg) translateZ(100px); background: #11111103; }
.back   { transform: rotateY(180deg) translateZ(100px); background: #19c510e7; }
.right  { transform: rotateY( 90deg) translateZ(100px); background: #1f5793; }
.left   { transform: rotateY(-90deg) translateZ(100px); background: #cf0d2ae3; }
.top    { transform: rotateX( 90deg) translateZ(100px); background: #ebd404f3; }
.bottom { transform: rotateX(-90deg) translateZ(100px); background: #7869ff; }

@keyframes rotate {
	0% {
		transform: rotateX(0) rotateY(0);
	}
	100% {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    line-height: 200px;
  }

  a:hover {
    background-color: rgba(0, 0, 0, 0.155);
  }

  a:active {
    background-color: rgba(0, 0, 0, 0.479);
  }

  @media (max-width: 900px) {

    .container-inspiration-cube div {
      margin-bottom: 5rem;
      
    }

  .container-inspiration-cube h1 {
      font-size: 1.5em;
    }

  .container-inspiration-cube p {
      font-size: 1em;
    }

  .scene {
      width: 100px;
      height: 100px;
    }


.front  { transform: rotateY(  0deg) translateZ(50px); background: #11111103; }
.back   { transform: rotateY(180deg) translateZ(50px); background: #19c510e7; }
.right  { transform: rotateY( 90deg) translateZ(50px); background: #1f5793; }
.left   { transform: rotateY(-90deg) translateZ(50px); background: #cf0d2ae3; }
.top    { transform: rotateX( 90deg) translateZ(50px); background: #ebd404f3; }
.bottom { transform: rotateX(-90deg) translateZ(50px); background: #7869ff; }

  }