.title-container-projects {
  text-align: center;
  margin: 8vw 0 4vw;
  color: #333;
  font-weight: 700;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2vw;
  background-color: linear-gradient(180deg, rgba(8, 8, 8, 0.608), rgba(225, 215, 215, 0.297), rgb(48, 47, 47));
  
}


.card {
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  max-width: 700px;
  width: 100%;
  text-align: center;
  padding: 1.5rem 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(40px);
  animation: fadeInUpCard 0.8s forwards;
  animation-delay: calc(0.1s * var(--i));
}


.card:hover img {
  transform: scale(1.25);
}

.bg-dark .card {
  box-shadow: 8px 8px 16px rgba(242, 240, 240, 0.231);
  position: relative;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 30px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: 4px solid transparent;
  background-clip: padding-box;
  animation: borderAnimation 2s infinite;
}

@keyframes borderAnimation {
  0% {
    border-top: 2px solid #0f0fe1;
    border-right: 2px solid #b300ff;
    border-bottom: 2px solid #0073ff;
    border-left: 2px solid #a200ff89;
  }
  20% {
    border-top: 2px solid #a200ff89;
    border-right: 2px solid #0f0fe1;
    border-bottom: 2px solid#b300ff;
    border-left: 2px solid #0073ff;
  }
  60% {
    border-top: 2px solid #0073ff;
    border-right: 2px solid #a200ff89;
    border-bottom: 2px solid #0f0fe1;
    border-left: 2px solid #b300ff;
  }
  80% {
    border-top: 2px solid #b300ff;
    border-right: 2px solid #0073ff;
    border-bottom: 2px solid #a200ff89;
    border-left: 2px solid #0f0fe1;

  }
  100% {
    border-top: 2px solid #0f0fe1;
    border-right: 2px solid #b300ff;
    border-bottom: 2px solid #0073ff;
    border-left: 2px solid #a200ff89;
  }
}


.bg-dark .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(8, 8, 8, 0.845);
  background-size: 200% 100%;
  background-position: 0 0;
  border-radius: 12px;
  z-index: -1;

}



.bg-dark .card:hover {
  box-shadow: 12px 12px 24px rgba(242, 240, 240, 0.2);
  transform: translateY(-5px);
 
}

.bg-dark .card h2,
.bg-dark .card h3,
.bg-dark .card p, 
.bg-dark .card li, 
.bg-dark .card ul, 
.bg-dark .card .tech-icons {
  color: #ffffff;
}

.card a:hover {
  text-decoration: none;
  background-color: #aba5ab07;
}

.card:hover {
  transform: scale(0.8);
}

.card h2 {

  color: #333;
  margin-bottom: 1rem;
}

.goals-projects p{
  margin: 1.15rem;

}

.tech-icons {
  padding-bottom: 4rem;
}

.tech-icons span {
  font-size: 3rem;
  color: var(--color-primary);
  transition: transform 0.3s ease;
}


.card p {

  color: #666;
  margin-bottom: 4rem;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s ease;
  display: block;
  margin: 0 auto;
}
