.footer-container a{
  display: flex;
  color: var(--text-color);
  text-align: center;
  padding: 0.75rem 0;
  position: relative;
  width: 100%;
  bottom: 0;
  
}


.rrss-logos {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  height: fit-content;

}

.footer-container a :hover {
  background-color: rgb(239, 238, 238);
  color:#000000;
  width: 100px;

}


.copyright {

  color: var(--text-secondary); 
}

.copyright p {
  margin: 0;
}


.bg-light {
  --bg-color: #f9f9f9;
  --text-color: #333;
  --text-secondary: #666;
}

/* Variables CSS para el tema oscuro */
.bg-dark {
  
  --text-color: #fff;
  --text-secondary: #cccccc;
}
