
.lider-tech-wrapper {
  text-align: center;
  padding: 2rem 0;
  background-color: #f9f9f9;
}

.lider-tech-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
}


.lider-tech-container {
  width: 80%;
  margin: 0 auto;
}


.tech {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  filter: grayscale(100%); 
  transition: filter 0.3s ease, transform 0.3s ease;
}

.tech:hover img {
  filter: grayscale(0); 
  transform: scale(1.1);
}

/* Tooltip */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: -0.25rem;
  color: #390ca39f;
  text-align: center;

  padding: 0.5rem;
  font-size: 0.9rem;
  white-space: nowrap;

  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(2px); 
  pointer-events: none;
}

.tech:hover .tooltip-text {
  visibility: visible;
  
}


@media (max-width: 1024px) {
  .lider-tech-container {
      width: 90%;
  }

  .tech img {
      width: 70px;
      height: 70px;
  }
}

@media (max-width: 768px) {
  .lider-tech-title {
      font-size: 2rem;
  }

  .tech img {
      width: 60px;
      height: 60px;
  }

  .tooltip-text {
      font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .lider-tech-title {
      font-size: 1.75rem;
  }

  .tech img {
      width: 50px;
      height: 50px;
  }

  .tooltip-text {
      font-size: 0.7rem;
  }
}
