.lider-tech-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
.lider-tech-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color:black; 
    text-align: center;
    padding:6vw;
  }


.lider-tech-container {
    width: 100vw;
    overflow: hidden;
    margin-top:15vw;
    margin-bottom: 3vw;
  }
  
  .tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 100%;
    
  }
  
  .tech img {
    width: 6vw;
    height: auto;
    margin-bottom: 1rem;
  }

  .tech span {
    font-size: 1em;
    
  }

  @media (max-width: 900px) {

    .container-tech h1 {
      font-size: 1.5em;
     
    }

    .container-tech p {
      font-size: 1em;
    }

    .tech img {
      width: 8vw;
      height: auto;
    }

   .tech span {
      font-size: 1em;

    }

    }

  .container-inspiration-cube h1 {
      font-size: 1.5em;
    }

  .container-inspiration-cube p {
      font-size: 1em;
    }


    