* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo-nav {
  height: 2rem;
}

.hamburger {
  display: none;
  font-size: 4vw;
  background: none;
  border: none;
  cursor: pointer;
  background-color: rgb(129, 77, 162);
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin: 0 10px;
}

.button-mail-nav {
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .menu {
    display: none;
    flex-direction: row;
    gap:1rem;
    position: absolute;
    top: 0;
    right: 100px;
    width: 60%;
    height: 100vh;
  }

  .menu.open {
    display: flex;
    
  }

  .menu li {
    margin: 10px 0;
  }

  .button-mail-nav {
    display: none;
  }

}

.container-img {
    position: relative;
    top:0;
    left:0;
    width: 100%;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 70%;
    height: 60%;
    
  }
  
  .text-overlay h1{
    margin: 0;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
    font-size: 3vw;
  }
  
  .text-overlay h2 {
    margin: 0;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor legibilidad */
    border-radius: 5px;
    font-size: 2vw;
  }

  .text-overlay p {
    margin: 0;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor legibilidad */
    border-radius: 5px;
    font-size: 1.5vw;
  }

  .section {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
